@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617;
  /* tailwind slate-950 */
  color: #f8fafc;
  /* tailwind slate-50 */
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.1);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    background: rgba(56, 189, 248, 0.4);
    border-radius: 10px;
    border: 2px solid rgba(2, 6, 23, 1);
    background-clip: padding-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(56, 189, 248, 0.8);
    border: 2px solid rgba(2, 6, 23, 1);
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}